$iiris-priority-label-height: 25px;
$iiris-priority-label-width: 110px;
$iiris-table-vertical-padding: 6px;
$iiris-table-horizontal-padding: 10px;

.iiris-table-container {
  height: 100%;
}

.iiris-event-table {
  height: 100%;
  overflow-y: scroll;
  .table {
    width: 100%;
    tr {
      border-bottom: 1px solid #cccccc;
      &.iiris-table-selectable-row {
        cursor: pointer;
      }
      &.iiris-table-selectable-row:hover {
        background-color: #efefef;
      }
    }
    td {
      word-break: break-word;
      padding: $iiris-table-vertical-padding $iiris-table-horizontal-padding;
      &.iiris-no-data-message {
        text-align: center;
        font-weight: 600;
      }
      &.iiris-colored-row {
        background-color: #f6d5d5;
      }
      &.iiris-table-cell-single-line {
        max-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &.iiris-table-cell-no-wrap {
        white-space: nowrap;
      }
      &.iiris-cell-width-10 {
        width: 10%;
      }
      &.iiris-cell-width-20 {
        width: 20%;
      }
      &.iiris-cell-width-30 {
        width: 30%;
      }
      &.iiris-cell-width-40 {
        width: 40%;
      }
      &.iiris-cell-width-50 {
        width: 50%;
      }
      &.iiris-cell-width-60 {
        width: 60%;
      }
      &.iiris-cell-width-70 {
        width: 70%;
      }
      &.iiris-cell-width-80 {
        width: 80%;
      }
      &.iiris-cell-width-90 {
        width: 90%;
      }
      &.iiris-table-title-cell {
        font-weight: 600;
        padding-right: 15px;
        vertical-align: top;
      }
      a {
        color: #0189bf;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    th {
      padding: 5px 10px;
      white-space: nowrap;
      cursor: pointer;
      user-select: none;
      font-weight: 600;
      .priority-label-title {
        width: 110px;
      }
    }
    td,
    th {
      .iiris-table-cell-right-align {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
      &.iiris-table-type-icon {
        padding: 2px 15px;
        font-size: 20px;
      }
    }
    .iiris-button-cell {
      display: flex;
      justify-content: flex-end;
      height: $iiris-priority-label-height + ($iiris-table-vertical-padding * 2);
      border-bottom: none;
    }
  }
  &.iiris-table-bottom-spacer {
    margin-bottom: 40px;
  }
}

.iiris-event-table.iiris-event-configuration-table {
  overflow-y: visible;
}

.theme-light .iiris-event-table .table {
  .iiris-inner-table {
    td {
      background-color: #efefef;
      border: 1px solid #ffffff;
    }
  }
}

.theme-dark .iiris-event-table .table td.iiris-colored-row {
  background-color: #690000;
}

.theme-dark .iiris-event-table .table tr.iiris-table-selectable-row:hover {
  background-color: #333333;
}

.modal-content .iiris-table-container .table .iiris-button-cell {
  padding: 6px 10px 4px 0;
}

.iiris-button {
  &.iiris-table-button {
    height: 100%;
  }
  &.iiris-table-icon-button {
    width: 24px;
    height: 24px;
    min-width: auto;
    display: inline-block;
    padding: 4px;
    margin-right: 5px;
  }
  &.iiris-table-icon-button:last-child {
    margin-right: 0;
  }
  &.iiris-icon-link-button {
    padding: 5px 4px 3px 4px;
  }
}

.sort-arrows-container {
  display: inline-block;
}

.sort-arrows-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
  svg {
    width: 9px;
    height: 12px;
    fill: #b3b3b3;
  }
  &.sort-arrow-down svg,
  &.sort-arrow-up svg {
    fill: #337ab7;
  }
}

.iiris-table-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px 0 10px 0;
}

.iiris-table-container.iiris-trigger-table .iiris-table-filters {
  justify-content: flex-start;
}

.iiris-table-filter {
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
  &:not(:last-child):not(.filter-single-line) {
    margin-right: 15px;
  }
  .gf-form-select-wrapper {
    margin-right: 0;
    select {
      line-height: 18px;
    }
  }
  &.filter-single-line {
    flex-basis: 100%;
    justify-content: flex-start;
    margin-bottom: 20px;
    .iiris-filter-label {
      background: none;
      font-weight: 600;
      padding: 0;
      margin-left: 2px;
    }
  }
  label {
    align-self: center;
    margin-right: 10px;
  }
  select {
    width: auto;
    max-width: 200px;
    padding: 2px 30px 2px 6px;
    height: 25px;
    border-radius: 3px;
    border-color: #979797;
  }
  .iiris-filter-icon {
    font-size: 16px;
    color: #505050;
    margin-right: 5px;
    &.icon-large {
      font-size: 24px;
      transform: rotate(180deg);
      &.icon-selected {
        color: #337ab7;
        transform: none;
      }
    }
  }
  .iiris-filter-label {
    font-size: 12px;
    border-radius: 6px;
    color: #000000;
    padding: 3px 10px;
    user-select: none;
    background-color: #d3d3d3;
    &.priority-1 {
      background-color: #c9e7c5;
    }
    &.priority-2 {
      background-color: #ffeea0;
    }
    &.priority-3 {
      background-color: #ffd4b8;
    }
    &.priority-4 {
      background-color: #f9a7a7;
    }
    &.priority-5 {
      background-color: #ed7e7e;
    }
  }
  .iiris-filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    &.filter-disabled {
      opacity: 0.4;
      cursor: default;
    }
    &.filter-single-line {
      align-items: center;
      margin-top: -4px;
      margin-right: 10px;
      flex-basis: 33%;
      justify-content: flex-end;
    }
  }
  .iiris-icon-button-text {
    margin-left: 7px;
  }
  &.iiris-triggers-title {
    font-weight: 600;
    font-size: 16px;
  }
}

.theme-dark .iiris-table-filter.filter-single-line .iiris-filter-label.priority-99 {
  color: #ffffff;
}

.iiris-filter-switch {
  height: 26px;
}

.iiris-table-paging {
  margin: 20px 10px 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .iiris-table-paging-container {
    display: flex;
    margin-left: 30px;
  }
  .iiris-paging-btn {
    color: #ffffff;
    background-color: #505050;
    width: 24px;
    height: 24px;
    margin-left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    &.iiris-paging-btn-active {
      background-color: #337ab7;
    }
  }
  .iiris-paging-arrow-left {
    border-radius: 2px 0 0 2px;
    font-size: 16px;
    padding-bottom: 2px;
  }
  .iiris-paging-arrow-right {
    border-radius: 0 2px 2px 0;
    font-size: 16px;
    padding-bottom: 2px;
  }
}

.iiris-priority-label {
  width: $iiris-priority-label-width;
  height: $iiris-priority-label-height;
  border-radius: 6px;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  &.priority-0,
  &.priority-1 {
    background-color: #559f4c;
    color: #ffffff;
  }
  &.priority-2 {
    background-color: #ffd350;
    color: #000000;
  }
  &.priority-3 {
    background-color: #ff914a;
    color: #000000;
  }
  &.priority-4 {
    background-color: #d53a3a;
    color: #ffffff;
  }
  &.priority-5 {
    background-color: #99023b;
    color: #ffffff;
  }
}

.iiris-time-interval-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.iiris-time-interval-text {
  margin-right: 20px;
}

.iiris-time-interval-title {
  font-weight: 600;
  margin-right: 5px;
}

.iiris-table-error-icon {
  padding: 0;
  margin: -3px 0;
  font-size: 20px;
}

.iiris-table-inline-icon {
  display: inline-block;
  margin-right: 4px;
}

.iiris-table-inline-icon-text {
  display: inline-block;
  line-height: 22px;
  vertical-align: top;
}

.iiris-button {
  min-width: 140px;
  min-height: 30px;
  background-color: #505050;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  cursor: pointer;
  text-align: center;
  &.iiris-button-condensed {
    min-height: 24px;
    border-radius: 2px;
    padding: 4px 10px;
  }
  &.iiris-table-button {
    height: 100%;
  }
  &.iiris-table-icon-button {
    width: 24px;
    height: 24px;
    min-width: auto;
    display: inline-block;
    padding: 4px;
    margin-right: 5px;
  }
  &.iiris-table-icon-button:last-child {
    margin-right: 0;
  }
  &.iiris-icon-link-button {
    padding: 6px 4px 2px 4px;
  }
  &.active {
    background-color: #337ab7;
  }
  &.primary {
    background-color: #d01d04;
  }
}

.iiris-search-field-container {
  display: flex;
  flex-basis: 33%;
  justify-content: flex-start;
}

.iiris-search-field {
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  background-color: #ffffff;
  width: 200px;
  height: 28px;
  font-size: 14px;
  color: #000000;
  padding: 3px;
}

.iiris-search-icon {
  width: 20px;
  height: 20px;
  margin: 5px 3px 0 5px;
  svg {
    fill: #505050;
  }
}
