<div class="modal-body">
  <div class="modal-header">
    <h2 class="modal-header-title">Tulevat huollot</h2>
    <a class="modal-header-close" ng-click="ctrl.dismiss()">
      <i class="fa fa-remove"></i>
    </a>
  </div>
  <div class="modal-content" ng-cloak="ng-cloak">
    <div ng-if="!ctrl.confirmIsVisible">
      <iiris-maintenance-modal-table
        data="ctrl.allMaintenances"
        on-stop-maintenance="ctrl.onStopMaintenanceClicked(ctrl.selectedMaintenanceId)"
        on-edit-maintenance="ctrl.onEditMaintenance()(ctrl.selectedMaintenanceId)"
        ongoing-maintenance-ids="ctrl.ongoingMaintenanceIds"
        selected-maintenance-id="ctrl.selectedMaintenanceId"
      ></iiris-maintenance-modal-table>
      <div class="gf-form-button-row">
        <a class="btn btn-primary" ng-click="ctrl.dismiss()">Peruuta</a>
        <a class="btn btn-secondary" ng-click="ctrl.openMaintenanceModal()()">Luo uusi huolto</a>
      </div>
    </div>
    <div ng-if="ctrl.confirmIsVisible">
      <div class="remove-maintenance-confirmation-text">{{ ctrl.confirmText }}</div>
      <div class="gf-form-button-row">
        <a class="btn btn-secondary" ng-if="ctrl.confirmAction" ng-click="ctrl.onCloseConfirmation()">Peruuta</a>
        <a class="btn btn-primary" ng-click="ctrl.onAcceptConfirmation()">OK</a>
      </div>
    </div>
  </div>
</div>
