<div class="iiris-table-container">
  <div class="iiris-event-table">
    <div ng-style="tableStyle">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" ng-click="onSortTable('type')">Tyyppi
              <div class="sort-arrows-container" ng-if="sortValue === 'type' && sortDirection === 'sort-ascending'">
                <div class="sort-arrows-icon sort-arrow-up">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M280.8,56.8L49.7,284.2C32.2,301.4,44.4,331,68.8,331h462.4c24.4,0,36.6-29.6,19.2-46.8L319.2,56.8 C308.5,46.4,291.5,46.4,280.8,56.8z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="sort-arrows-container" ng-if="sortValue === 'type' && sortDirection === 'sort-descending'">
                <div class="sort-arrows-icon sort-arrow-down">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M319.2,743.2l231.2-227.4c17.4-17.1,5.3-46.8-19.2-46.8H68.8c-24.4,0-36.6,29.6-19.2,46.8l231.2,227.4 C291.5,753.6,308.5,753.6,319.2,743.2z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="sort-arrows-container" ng-if="sortValue !== 'type'">
                <div class="sort-arrows-icon">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M280.8,56.8L49.7,284.2C32.2,301.4,44.4,331,68.8,331h462.4c24.4,0,36.6-29.6,19.2-46.8L319.2,56.8 C308.5,46.4,291.5,46.4,280.8,56.8z"></path>
                    </g>
                    <g>
                      <path d="M319.2,743.2l231.2-227.4c17.4-17.1,5.3-46.8-19.2-46.8H68.8c-24.4,0-36.6,29.6-19.2,46.8l231.2,227.4 C291.5,753.6,308.5,753.6,319.2,743.2z"></path>
                    </g>
                  </svg>
                </div>
              </div>
            </th>
            <th scope="col" ng-click="onSortTable('description')">Kuvaus
              <div class="sort-arrows-container" ng-if="sortValue === 'description' && sortDirection === 'sort-ascending'">
                <div class="sort-arrows-icon sort-arrow-up">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M280.8,56.8L49.7,284.2C32.2,301.4,44.4,331,68.8,331h462.4c24.4,0,36.6-29.6,19.2-46.8L319.2,56.8 C308.5,46.4,291.5,46.4,280.8,56.8z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="sort-arrows-container" ng-if="sortValue === 'description' && sortDirection === 'sort-descending'">
                <div class="sort-arrows-icon sort-arrow-down">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M319.2,743.2l231.2-227.4c17.4-17.1,5.3-46.8-19.2-46.8H68.8c-24.4,0-36.6,29.6-19.2,46.8l231.2,227.4 C291.5,753.6,308.5,753.6,319.2,743.2z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="sort-arrows-container" ng-if="sortValue !== 'description'">
                <div class="sort-arrows-icon">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M280.8,56.8L49.7,284.2C32.2,301.4,44.4,331,68.8,331h462.4c24.4,0,36.6-29.6,19.2-46.8L319.2,56.8 C308.5,46.4,291.5,46.4,280.8,56.8z"></path>
                    </g>
                    <g>
                      <path d="M319.2,743.2l231.2-227.4c17.4-17.1,5.3-46.8-19.2-46.8H68.8c-24.4,0-36.6,29.6-19.2,46.8l231.2,227.4 C291.5,753.6,308.5,753.6,319.2,743.2z"></path>
                    </g>
                  </svg>
                </div>
              </div>
            </th>
            <th scope="col" ng-click="onSortTable('caller')">Käynnistäjä
              <div class="sort-arrows-container" ng-if="sortValue === 'caller' && sortDirection === 'sort-ascending'">
                <div class="sort-arrows-icon sort-arrow-up">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M280.8,56.8L49.7,284.2C32.2,301.4,44.4,331,68.8,331h462.4c24.4,0,36.6-29.6,19.2-46.8L319.2,56.8 C308.5,46.4,291.5,46.4,280.8,56.8z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="sort-arrows-container" ng-if="sortValue === 'caller' && sortDirection === 'sort-descending'">
                <div class="sort-arrows-icon sort-arrow-down">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M319.2,743.2l231.2-227.4c17.4-17.1,5.3-46.8-19.2-46.8H68.8c-24.4,0-36.6,29.6-19.2,46.8l231.2,227.4 C291.5,753.6,308.5,753.6,319.2,743.2z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="sort-arrows-container" ng-if="sortValue !== 'caller'">
                <div class="sort-arrows-icon">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M280.8,56.8L49.7,284.2C32.2,301.4,44.4,331,68.8,331h462.4c24.4,0,36.6-29.6,19.2-46.8L319.2,56.8 C308.5,46.4,291.5,46.4,280.8,56.8z"></path>
                    </g>
                    <g>
                      <path d="M319.2,743.2l231.2-227.4c17.4-17.1,5.3-46.8-19.2-46.8H68.8c-24.4,0-36.6,29.6-19.2,46.8l231.2,227.4 C291.5,753.6,308.5,753.6,319.2,743.2z"></path>
                    </g>
                  </svg>
                </div>
              </div>
            </th>
            <th scope="col" ng-click="onSortTable('startTime')">Aloitusaika
              <div class="sort-arrows-container" ng-if="sortValue === 'startTime' && sortDirection === 'sort-ascending'">
                <div class="sort-arrows-icon sort-arrow-up">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M280.8,56.8L49.7,284.2C32.2,301.4,44.4,331,68.8,331h462.4c24.4,0,36.6-29.6,19.2-46.8L319.2,56.8 C308.5,46.4,291.5,46.4,280.8,56.8z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="sort-arrows-container" ng-if="sortValue === 'startTime' && sortDirection === 'sort-descending'">
                <div class="sort-arrows-icon sort-arrow-down">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M319.2,743.2l231.2-227.4c17.4-17.1,5.3-46.8-19.2-46.8H68.8c-24.4,0-36.6,29.6-19.2,46.8l231.2,227.4 C291.5,753.6,308.5,753.6,319.2,743.2z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="sort-arrows-container" ng-if="sortValue !== 'startTime'">
                <div class="sort-arrows-icon">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M280.8,56.8L49.7,284.2C32.2,301.4,44.4,331,68.8,331h462.4c24.4,0,36.6-29.6,19.2-46.8L319.2,56.8 C308.5,46.4,291.5,46.4,280.8,56.8z"></path>
                    </g>
                    <g>
                      <path d="M319.2,743.2l231.2-227.4c17.4-17.1,5.3-46.8-19.2-46.8H68.8c-24.4,0-36.6,29.6-19.2,46.8l231.2,227.4 C291.5,753.6,308.5,753.6,319.2,743.2z"></path>
                    </g>
                  </svg>
                </div>
              </div>
            </th>
            <th scope="col" ng-click="onSortTable('endTime')">Päätösaika
              <div class="sort-arrows-container" ng-if="sortValue === 'endTime' && sortDirection === 'sort-ascending'">
                <div class="sort-arrows-icon sort-arrow-up">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M280.8,56.8L49.7,284.2C32.2,301.4,44.4,331,68.8,331h462.4c24.4,0,36.6-29.6,19.2-46.8L319.2,56.8 C308.5,46.4,291.5,46.4,280.8,56.8z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="sort-arrows-container" ng-if="sortValue === 'endTime' && sortDirection === 'sort-descending'">
                <div class="sort-arrows-icon sort-arrow-down">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M319.2,743.2l231.2-227.4c17.4-17.1,5.3-46.8-19.2-46.8H68.8c-24.4,0-36.6,29.6-19.2,46.8l231.2,227.4 C291.5,753.6,308.5,753.6,319.2,743.2z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="sort-arrows-container" ng-if="sortValue !== 'endTime'">
                <div class="sort-arrows-icon">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M280.8,56.8L49.7,284.2C32.2,301.4,44.4,331,68.8,331h462.4c24.4,0,36.6-29.6,19.2-46.8L319.2,56.8 C308.5,46.4,291.5,46.4,280.8,56.8z"></path>
                    </g>
                    <g>
                      <path d="M319.2,743.2l231.2-227.4c17.4-17.1,5.3-46.8-19.2-46.8H68.8c-24.4,0-36.6,29.6-19.2,46.8l231.2,227.4 C291.5,753.6,308.5,753.6,319.2,743.2z"></path>
                    </g>
                  </svg>
                </div>
              </div>
            </th>
            <th scope="col" ng-click="onSortTable('duration')">Kesto
              <div class="sort-arrows-container" ng-if="sortValue === 'duration' && sortDirection === 'sort-ascending'">
                <div class="sort-arrows-icon sort-arrow-up">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M280.8,56.8L49.7,284.2C32.2,301.4,44.4,331,68.8,331h462.4c24.4,0,36.6-29.6,19.2-46.8L319.2,56.8 C308.5,46.4,291.5,46.4,280.8,56.8z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="sort-arrows-container" ng-if="sortValue === 'duration' && sortDirection === 'sort-descending'">
                <div class="sort-arrows-icon sort-arrow-down">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M319.2,743.2l231.2-227.4c17.4-17.1,5.3-46.8-19.2-46.8H68.8c-24.4,0-36.6,29.6-19.2,46.8l231.2,227.4 C291.5,753.6,308.5,753.6,319.2,743.2z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="sort-arrows-container" ng-if="sortValue !== 'duration'">
                <div class="sort-arrows-icon">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 800" style="enable-background:new 0 0 600 800;" xml:space="preserve">
                    <g>
                      <path d="M280.8,56.8L49.7,284.2C32.2,301.4,44.4,331,68.8,331h462.4c24.4,0,36.6-29.6,19.2-46.8L319.2,56.8 C308.5,46.4,291.5,46.4,280.8,56.8z"></path>
                    </g>
                    <g>
                      <path d="M319.2,743.2l231.2-227.4c17.4-17.1,5.3-46.8-19.2-46.8H68.8c-24.4,0-36.6,29.6-19.2,46.8l231.2,227.4 C291.5,753.6,308.5,753.6,319.2,743.2z"></path>
                    </g>
                  </svg>
                </div>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody ng-if="pageData.length &gt; 0">
          <tr ng-repeat="item in pageData">
            <td class="iiris-table-cell-single-line" ng-class="{'iiris-colored-row': ongoingMaintenanceIds.indexOf(item.internalId) &gt; -1}" title="{{ item.maintenanceTypeStringFull }}">{{ item.maintenanceTypeString }}</td>
            <td class="iiris-table-cell-single-line iiris-cell-width-20" ng-class="{'iiris-colored-row': ongoingMaintenanceIds.indexOf(item.internalId) &gt; -1}" title="{{ item.description }}">{{ item.description || '' }}</td>
            <td class="iiris-table-cell-single-line" ng-class="{'iiris-colored-row': ongoingMaintenanceIds.indexOf(item.internalId) &gt; -1}" title="{{ item.caller }}">{{ item.caller || '' }}</td>
            <td class="iiris-table-cell-no-wrap" ng-class="{'iiris-colored-row': ongoingMaintenanceIds.indexOf(item.internalId) &gt; -1}">{{ item.startTimeString }}</td>
            <td class="iiris-table-cell-no-wrap" ng-class="{'iiris-colored-row': ongoingMaintenanceIds.indexOf(item.internalId) &gt; -1}">{{ item.endTimeString }}</td>
            <td class="iiris-table-cell-no-wrap" ng-class="{'iiris-colored-row': ongoingMaintenanceIds.indexOf(item.internalId) &gt; -1}">{{ item.durationString }}</td>
            <td class="iiris-button-cell" ng-class="{'iiris-colored-row': ongoingMaintenanceIds.indexOf(item.internalId) &gt; -1}">
              <div class="iiris-button iiris-button-condensed iiris-table-button iiris-table-icon-button" ng-click="onEditIconClick(item.id)" title="Muokkaa huoltoa"><span class="fa fa-edit"></span></div>
              <div class="iiris-button iiris-button-condensed iiris-table-button iiris-table-icon-button primary" ng-click="onStopIconClick(item.id)" title="Lopeta huolto"><span class="fa fa-remove"></span></div>
            </td>
          </tr>
        </tbody>
        <tbody ng-if="pageData.length == 0">
          <tr>
            <td class="iiris-no-data-message" colspan="7">Ei tapahtumia</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="iiris-table-paging">
      <div class="iiris-table-paging-container" ng-if="pageCount &gt; 1">
        <div class="iiris-paging-btn iiris-paging-arrow-left" ng-click="onPrevPage()">«</div>
        <div ng-repeat="page in pageList">
          <div class="iiris-paging-btn" ng-click="onGoToPage(page)" ng-class="{'iiris-paging-btn-active': (page == currentPage)}">{{ page > 0 ? page : '...' }}</div>
        </div>
        <div class="iiris-paging-btn iiris-paging-arrow-right" ng-click="onNextPage()">»</div>
      </div>
    </div>
  </div>
</div>
