<div class="modal-body">
  <div class="modal-header">
    <h2 class="modal-header-title" ng-if="!ctrl.scope.selectedMaintenance">Luo uusi huolto</h2>
    <h2 class="modal-header-title" ng-if="ctrl.scope.selectedMaintenance">Muokkaa huoltoa</h2>
    <a class="modal-header-close" ng-click="ctrl.dismiss()"><i class="fa fa-remove"></i></a>
  </div>
  <div class="modal-content" ng-cloak="ng-cloak">
    <div ng-if="ctrl.scope.wizardPhase==1">
      <div class="gf-form-group maintenance-row-container">
        <label class="gf-form-label">Huollon tyyppi</label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input" ng-model="ctrl.mTypeInput.value" ng-options="v.value as v.text for v in ctrl.mTypeInput.options" ng-change="ctrl.onMaintenanceTypeChanged()">
            <option value="" ng-hide="ctrl.mTypeInput.value">{{ctrl.mTypeInput.text}}</option>
          </select>
        </div>
      </div>
      <div class="gf-form-group maintenance-row-container" ng-if="ctrl.mTypeInput.value=='2'">
        <label class="gf-form-label">Toistetaan [n] päivän välein</label>
        <div>
          <input class="input-small gf-form-input width-25" type="number" ng-model="ctrl.scope.everyNDays" min="1" step="1" />
        </div>
      </div>
      <div class="gf-form-group maintenance-row-container" ng-if="ctrl.mTypeInput.value=='3'">
        <label class="gf-form-label">Toistetaan [n] viikon välein</label>
        <div>
          <input class="input-small gf-form-input width-25" type="number" ng-model="ctrl.scope.everyNWeeks" min="1" step="1" />
        </div>
      </div>
      <div class="gf-form-group maintenance-row-container" ng-if="ctrl.mTypeInput.value=='3'">
        <label class="gf-form-label">Toistetaan viikonpäivänä</label>
        <div class="checkbox-block">
          <div class="checkbox-container">
            <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.weekdays.monday" id="monday" />
            <label class="gf-form-label checkbox-label" for="monday">Maanantai</label>
          </div>
          <div class="checkbox-container">
            <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.weekdays.tuesday" id="tuesday" />
            <label class="gf-form-label checkbox-label" for="tuesday">Tiistai</label>
          </div>
          <div class="checkbox-container">
            <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.weekdays.wednesday" id="wednesday" />
            <label class="gf-form-label checkbox-label" for="wednesday">Keskiviikko</label>
          </div>
          <div class="checkbox-container">
            <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.weekdays.thursday" id="thursday" />
            <label class="gf-form-label checkbox-label" for="thursday">Torstai</label>
          </div>
          <div class="checkbox-container">
            <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.weekdays.friday" id="friday" />
            <label class="gf-form-label checkbox-label" for="friday">Perjantai</label>
          </div>
          <div class="checkbox-container">
            <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.weekdays.saturday" id="saturday" />
            <label class="gf-form-label checkbox-label" for="saturday">Lauantai</label>
          </div>
          <div class="checkbox-container">
            <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.weekdays.sunday" id="sunday" />
            <label class="gf-form-label checkbox-label" for="sunday">Sunnuntai</label>
          </div>
        </div>
      </div>
      <div class="gf-form-group maintenance-row-container" ng-if="ctrl.mTypeInput.value=='4'">
        <label class="gf-form-label">Toistetaan kuukautena</label>
        <div class="checkbox-block">
          <div class="checkbox-column">
            <div class="checkbox-container">
              <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.months.january" id="january" ng-change="ctrl.toggleMonthSelection()" />
              <label class="gf-form-label checkbox-label width-8" for="january">Tammikuu</label>
            </div>
            <div class="checkbox-container">
              <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.months.february" id="february" ng-change="ctrl.toggleMonthSelection()" />
              <label class="gf-form-label checkbox-label width-8" for="february">Helmikuu</label>
            </div>
            <div class="checkbox-container">
              <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.months.march" id="march" ng-change="ctrl.toggleMonthSelection()" />
              <label class="gf-form-label checkbox-label width-8" for="march">Maaliskuu</label>
            </div>
          </div>
          <div class="checkbox-column">
            <div class="checkbox-container">
              <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.months.april" id="april" ng-change="ctrl.toggleMonthSelection()" />
              <label class="gf-form-label checkbox-label width-8" for="april">Huhtikuu</label>
            </div>
            <div class="checkbox-container">
              <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.months.may" id="may" ng-change="ctrl.toggleMonthSelection()" />
              <label class="gf-form-label checkbox-label width-8" for="may">Toukokuu</label>
            </div>
            <div class="checkbox-container">
              <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.months.june" id="june" ng-change="ctrl.toggleMonthSelection()" />
              <label class="gf-form-label checkbox-label width-8" for="june">Kesäkuu</label>
            </div>
          </div>
          <div class="checkbox-column">
            <div class="checkbox-container">
              <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.months.july" id="july" ng-change="ctrl.toggleMonthSelection()" />
              <label class="gf-form-label checkbox-label width-8" for="july">Heinäkuu</label>
            </div>
            <div class="checkbox-container">
              <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.months.august" id="august" ng-change="ctrl.toggleMonthSelection()" />
              <label class="gf-form-label checkbox-label width-8" for="august">Elokuu</label>
            </div>
            <div class="checkbox-container">
              <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.months.september" id="september" ng-change="ctrl.toggleMonthSelection()" />
              <label class="gf-form-label checkbox-label width-8" for="september">Syyskuu</label>
            </div>
          </div>
          <div class="checkbox-column">
            <div class="checkbox-container">
              <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.months.october" id="october" ng-change="ctrl.toggleMonthSelection()" />
              <label class="gf-form-label checkbox-label width-8" for="october">Lokakuu</label>
            </div>
            <div class="checkbox-container">
              <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.months.november" id="november" ng-change="ctrl.toggleMonthSelection()" />
              <label class="gf-form-label checkbox-label width-8" for="november">Marraskuu</label>
            </div>
            <div class="checkbox-container">
              <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.months.december" id="december" ng-change="ctrl.toggleMonthSelection()" />
              <label class="gf-form-label checkbox-label width-8" for="december">Joulukuu</label>
            </div>
          </div>
          <div class="checkbox-column">
            <div class="checkbox-container">
              <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.months.all" id="all" ng-change="ctrl.toggleAllMonthsSelection()" />
              <label class="gf-form-label checkbox-label width-8" for="all">Valitse kaikki</label>
            </div>
          </div>
        </div>
      </div>
      <div class="gf-form-group maintenance-row-container" ng-if="ctrl.mTypeInput.value=='4'">
        <label class="gf-form-label">Toistetaan
          <div class="checkbox-container">
            <input class="action-panel-cb" type="radio" name="monthtype" ng-model="ctrl.scope.dayOfMonthOrWeekSelected.value" value="MONTH" id="dayOfMonthSelected" />
            <label class="gf-form-label checkbox-label width-12" for="dayOfMonthSelected">Kuukauden päivänä n</label>
          </div>
          <div class="checkbox-container">
            <input class="action-panel-cb" type="radio" name="monthtype" ng-model="ctrl.scope.dayOfMonthOrWeekSelected.value" value="WEEK" id="dayOfWeekSelected" />
            <label class="gf-form-label checkbox-label width-12" for="dayOfWeekSelected">Viikonpäivänä n</label>
          </div>
        </label>
      </div>
      <div class="gf-form-group maintenance-row-container" ng-if="ctrl.mTypeInput.value=='4' && ctrl.scope.dayOfMonthOrWeekSelected.value=='MONTH'">
        <label class="gf-form-label">Toistetaan kuukauden päivänä</label>
        <div>
          <input class="input-small gf-form-input width-25" type="number" ng-model="ctrl.scope.dayOfMonth" min="1" step="1" />
        </div>
      </div>
      <div class="gf-form-group maintenance-row-container" ng-if="ctrl.mTypeInput.value=='4' && ctrl.scope.dayOfMonthOrWeekSelected.value=='WEEK'">
        <label class="gf-form-label">Toistetaan viikonpäivänä (esim. kuukauden toinen tiistai)</label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input" ng-model="ctrl.everyDayOfWeekInput.value" ng-options="v.value as v.text for v in ctrl.everyDayOfWeekInput.options">
            <option value="" ng-hide="ctrl.everyDayOfWeekInput.value">{{ctrl.everyDayOfWeekInput.text}}</option>
          </select>
        </div>
        <div class="checkbox-block checkbox-top-spacer">
          <div class="checkbox-container">
            <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.monthlyWeekdays.monday" id="monday" />
            <label class="gf-form-label checkbox-label" for="monday">Maanantai</label>
          </div>
          <div class="checkbox-container">
            <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.monthlyWeekdays.tuesday" id="tuesday" />
            <label class="gf-form-label checkbox-label" for="tuesday">Tiistai</label>
          </div>
          <div class="checkbox-container">
            <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.monthlyWeekdays.wednesday" id="wednesday" />
            <label class="gf-form-label checkbox-label" for="wednesday">Keskiviikko</label>
          </div>
          <div class="checkbox-container">
            <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.monthlyWeekdays.thursday" id="thursday" />
            <label class="gf-form-label checkbox-label" for="thursday">Torstai</label>
          </div>
          <div class="checkbox-container">
            <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.monthlyWeekdays.friday" id="friday" />
            <label class="gf-form-label checkbox-label" for="friday">Perjantai</label>
          </div>
          <div class="checkbox-container">
            <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.monthlyWeekdays.saturday" id="saturday" />
            <label class="gf-form-label checkbox-label" for="saturday">Lauantai</label>
          </div>
          <div class="checkbox-container">
            <input class="action-panel-cb" type="checkbox" ng-model="ctrl.scope.monthlyWeekdays.sunday" id="sunday" />
            <label class="gf-form-label checkbox-label" for="sunday">Sunnuntai</label>
          </div>
        </div>
      </div>
      <div class="gf-form-group maintenance-row-container">
        <label class="gf-form-label" ng-if="ctrl.mTypeInput.value=='0'">Huollon alkamisajankohta</label>
        <label class="gf-form-label" ng-if="ctrl.mTypeInput.value!='0'">Aloita toisto</label>
        <div class="date-selection-row">
          <div class="date-selection-container">
            <div>Päivä</div>
            <div class="gf-form-select-wrapper">
              <select class="gf-form-input" ng-model="ctrl.dayInput.value" ng-options="v.value as v.text for v in ctrl.dayInput.options">
                <option value="" ng-hide="ctrl.dayInput.value">{{ctrl.dayInput.text}}</option>
              </select>
            </div>
          </div>
          <div class="date-selection-container">
            <div>Kuukausi</div>
            <div class="gf-form-select-wrapper">
              <select class="gf-form-input" ng-model="ctrl.monthInput.value" ng-options="v.value as v.text for v in ctrl.monthInput.options" ng-change="ctrl.onMonthValueChanged()">
                <option value="" ng-hide="ctrl.monthInput.value">{{ctrl.monthInput.text}}</option>
              </select>
            </div>
          </div>
          <div class="date-selection-container">
            <div>Vuosi</div>
            <div class="gf-form-select-wrapper">
              <select class="gf-form-input" ng-model="ctrl.yearInput.value" ng-options="v.value as v.text for v in ctrl.yearInput.options" ng-change="ctrl.onYearValueChanged()">
                <option value="" ng-hide="ctrl.yearInput.value">{{ctrl.yearInput.text}}</option>
              </select>
            </div>
          </div>
          <div class="date-selection-container hour-input">
            <div>Tunti</div>
            <div class="gf-form-select-wrapper">
              <select class="gf-form-input" ng-model="ctrl.hourInput.value" ng-options="v.value as v.text for v in ctrl.hourInput.options">
                <option value="" ng-hide="ctrl.hourInput.value">{{ctrl.hourInput.text}}</option>
              </select>
            </div>
          </div>
          <div class="date-selection-container">
            <div>Minuutti</div>
            <div class="gf-form-select-wrapper">
              <select class="gf-form-input" ng-model="ctrl.minuteInput.value" ng-options="v.value as v.text for v in ctrl.minuteInput.options">
                <option value="" ng-hide="ctrl.minuteInput.value">{{ctrl.minuteInput.text}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="gf-form-group maintenance-row-container" ng-if="ctrl.mTypeInput.value=='2'||ctrl.mTypeInput.value=='3'||ctrl.mTypeInput.value=='4'">
        <label class="gf-form-label">Lopeta toisto</label>
        <div class="date-selection-row">
          <div class="date-selection-container">
            <div>Päivä</div>
            <div class="gf-form-select-wrapper">
              <select class="gf-form-input" ng-model="ctrl.dayStopInput.value" ng-options="v.value as v.text for v in ctrl.dayStopInput.options">
                <option value="" ng-hide="ctrl.dayStopInput.value">{{ctrl.dayStopInput.text}}</option>
              </select>
            </div>
          </div>
          <div class="date-selection-container">
            <div>Kuukausi</div>
            <div class="gf-form-select-wrapper">
              <select class="gf-form-input" ng-model="ctrl.monthStopInput.value" ng-options="v.value as v.text for v in ctrl.monthStopInput.options" ng-change="ctrl.onMonthStopValueChanged()">
                <option value="" ng-hide="ctrl.monthStopInput.value">{{ctrl.monthStopInput.text}}</option>
              </select>
            </div>
          </div>
          <div class="date-selection-container">
            <div>Vuosi</div>
            <div class="gf-form-select-wrapper">
              <select class="gf-form-input" ng-model="ctrl.yearStopInput.value" ng-options="v.value as v.text for v in ctrl.yearStopInput.options" ng-change="ctrl.onYearStopValueChanged()">
                <option value="" ng-hide="ctrl.yearStopInput.value">{{ctrl.yearStopInput.text}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="gf-form-group maintenance-row-container" ng-if="!ctrl.scope.strictEndTimeSelected">
        <label class="gf-form-label">Huollon kesto</label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input" ng-model="ctrl.durationInput.value" ng-options="v.value as v.text for v in ctrl.durationInput.options" ng-change="ctrl.onDurationValueChanged()">
            <option value="" ng-hide="ctrl.durationInput.value">{{ctrl.durationInput.text}}</option>
          </select>
        </div>
      </div>
      <div class="gf-form-group maintenance-row-container" ng-if="ctrl.mTypeInput.value=='0'">
        <div class="iiris-checkbox">
          <input id="strict_end_time" type="checkbox" ng-model="ctrl.scope.strictEndTimeSelected" />
          <label class="checkbox-label" for="strict_end_time">Määritä tarkka päättymisajankohta</label>
        </div>
      </div>
      <div class="gf-form-group maintenance-row-container" ng-if="ctrl.scope.strictEndTimeSelected">
        <label class="gf-form-label">Huollon päättymisajankohta</label>
        <div class="date-selection-row">
          <div class="date-selection-container">
            <div>Päivä</div>
            <div class="gf-form-select-wrapper">
              <select class="gf-form-input" ng-model="ctrl.strictEndDayInput.value" ng-options="v.value as v.text for v in ctrl.strictEndDayInput.options">
                <option value="" ng-hide="ctrl.strictEndDayInput.value">{{ctrl.strictEndDayInput.text}}</option>
              </select>
            </div>
          </div>
          <div class="date-selection-container">
            <div>Kuukausi</div>
            <div class="gf-form-select-wrapper">
              <select class="gf-form-input" ng-model="ctrl.strictEndMonthInput.value" ng-options="v.value as v.text for v in ctrl.strictEndMonthInput.options" ng-change="ctrl.onStrictEndMonthValueChanged()">
                <option value="" ng-hide="ctrl.strictEndMonthInput.value">{{ctrl.strictEndMonthInput.text}}</option>
              </select>
            </div>
          </div>
          <div class="date-selection-container">
            <div>Vuosi</div>
            <div class="gf-form-select-wrapper">
              <select class="gf-form-input" ng-model="ctrl.strictEndYearInput.value" ng-options="v.value as v.text for v in ctrl.strictEndYearInput.options" ng-change="ctrl.onStrictEndYearValueChanged()">
                <option value="" ng-hide="ctrl.strictEndYearInput.value">{{ctrl.strictEndYearInput.text}}</option>
              </select>
            </div>
          </div>
          <div class="date-selection-container hour-input">
            <div>Tunti</div>
            <div class="gf-form-select-wrapper">
              <select class="gf-form-input" ng-model="ctrl.strictEndHourInput.value" ng-options="v.value as v.text for v in ctrl.strictEndHourInput.options">
                <option value="" ng-hide="ctrl.strictEndHourInput.value">{{ctrl.strictEndHourInput.text}}</option>
              </select>
            </div>
          </div>
          <div class="date-selection-container">
            <div>Minuutti</div>
            <div class="gf-form-select-wrapper">
              <select class="gf-form-input" ng-model="ctrl.strictEndMinuteInput.value" ng-options="v.value as v.text for v in ctrl.strictEndMinuteInput.options">
                <option value="" ng-hide="ctrl.strictEndMinuteInput.value">{{ctrl.strictEndMinuteInput.text}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="maintenance-config-error-text">{{ctrl.scope.errorText}}</div>
      <div class="gf-form-button-row">
        <a class="btn btn-secondary" ng-click="ctrl.openAllMaintenancesModal()()">Takaisin</a>
        <a class="btn btn-secondary" ng-click="ctrl.dismiss()">Peruuta</a>
        <a class="btn btn-primary" ng-click="ctrl.goToNext()">Eteenpäin</a>
      </div>
    </div>
    <div ng-if="ctrl.scope.wizardPhase==2">
      <div class="gf-form-group maintenance-row-container">
        <label class="gf-form-label">Huollon kuvaus</label>
        <textarea class="gf-form-input" ng-model="ctrl.description" rows="3" maxlength="128"></textarea>
      </div>
      <div class="gf-form-group maintenance-host-list">
        <div class="iiris-checkbox">
          <input id="select_all" type="checkbox" ng-model="ctrl.scope.hosts.allSelected" ng-change="ctrl.selectAllHosts()" />
          <label class="checkbox-label" for="select_all">Kaikki palvelimet</label>
        </div>
        <div class="iiris-checkbox" ng-repeat="item in ctrl.scope.hosts.options track by item.value">
          <input id="cb{{item.value}}" type="checkbox" ng-model="ctrl.scope.hosts.selected[$index]" ng-change="ctrl.selectHost($index)" ng-value="item" />
          <label class="checkbox-label" for="cb{{item.value}}">{{item.text}}</label>
        </div>
      </div>
      <div class="maintenance-config-error-text">{{ctrl.scope.errorText}}</div>
      <div class="gf-form-button-row">
        <a class="btn btn-secondary" ng-click="ctrl.goToPrevious()">Takaisin</a>
        <a class="btn btn-secondary" ng-click="ctrl.dismiss()">Peruuta</a>
        <a class="btn btn-primary" ng-click="ctrl.onStartMaintenance()" ng-if="!ctrl.scope.selectedMaintenance">Luo huolto</a>
        <a class="btn btn-primary" ng-click="ctrl.onStartMaintenance()" ng-if="ctrl.scope.selectedMaintenance">Tallenna muutokset</a>
      </div>
    </div>
  </div>
</div>
